contig_column = CONTIG,chr,chrom,seqName,Chromosome,contig,chromosome,Chrom,CHROM,target_contig
start_column = START,start,start_position,Start_position,Start_Position,position,target_start
end_column = END,end,end_position,End_position,End_Position,position,target_stop
xsv_delimiter = \t
name = SECOND_XSV_NAME