/scripts/docker/clone_repo.sh
/scripts/docker/checkout_tag.sh
/scripts/docker/GITHUB_TAG
/plotting_dump.rda

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Intellij Files
hellbender-protected.iml

# Mac files
*.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ project files.
.idea

# Build temporary files.
.gradle
build/

# Build custom property files.
gradle.properties

# R Files
.Rapp.history

# Intellij iml file
gatk-protected.iml

# Spark log file
adam.log
debug.RData
foo.patch

# odt temp file
/docs/PoN/.~lock.TangentNormalizationInSparkNotes.odt#

gatk-launch
