language: java
jdk:
- oraclejdk8
addons:
  apt:
    packages:
      - r-base      
env:
  matrix:
  - TERM=dumb
  global:
  - secure: RA4LKD82cW+0xPayPVAWSpYqJu5uoPcz7oXXYtYNVuilFmS8PGYx0g/BXs4QMvQsGMt6aMLN8m7lMAPN5XTH/8JSeM3VmQ3mdpgNdP+p3CVlwrapZ2lTq27Wb/E8J1CGEHOg76z716t//FUElyC/gdhS+tfBmXk3YanM5fMXEHs=
cache:
  directories:
  - ~/.gradle
before_install:
- apt-get install r-base
- wget -N https://downloads.gradle.org/distributions/gradle-2.2.1-bin.zip
- unzip gradle-2.2.1-bin.zip
- export PATH=`pwd`/gradle-2.2.1/bin:$PATH
- R --version
after_success:
- gradle jacocoTestReport coveralls
