language: java
addons:
  apt:
    sources:
    - r-packages-precise
    - ubuntu-toolchain-r-test
    packages:
    - r-base
    - gcc-4.8
    - g++-4.8
jdk:
- oraclejdk8
env:
  matrix:
  - CLOUD=mandatory
  - CLOUD=false
  global:
  #gradle needs this
  - TERM=dumb
  #limit gradle jvm memory
  - GRADLE_OPTS=-Xmx1024m
  #google cloud stuff
  - CLOUDSDK_CORE_DISABLE_PROMPTS=1
  - GCLOUD=$HOME/gcloud/google-cloud-sdk/bin 
  - CLOUDSDK_PYTHON_SITEPACKAGES=1 
  - GOOGLE_APPLICATION_CREDENTIALS=$TRAVIS_BUILD_DIR/servicekey.json
  #hellbender specific variables
  - HELLBENDER_TEST_INPUTS=gs://hellbender/test/resources/
  - HELLBENDER_TEST_STAGING=gs://hellbender/test/staging/
  - HELLBENDER_TEST_PROJECT=broad-dsde-dev
  #coveralls repo token
  - secure: RA4LKD82cW+0xPayPVAWSpYqJu5uoPcz7oXXYtYNVuilFmS8PGYx0g/BXs4QMvQsGMt6aMLN8m7lMAPN5XTH/8JSeM3VmQ3mdpgNdP+p3CVlwrapZ2lTq27Wb/E8J1CGEHOg76z716t//FUElyC/gdhS+tfBmXk3YanM5fMXEHs=
  #google API key
  - secure: "eHyDxfcfv6pSIkoqQ9PimiYu9I6vmXJOpY/OkXLkc7ZAUfNTfRVytUGG9Xf/bKKF+Wscm5pIfZJ/TMDG6E3Uyngs9nVK/29QWevcEaLDJy8OdI9OgPZb13hlbM2jbVv5AVBGYcbcNBrTvrTs0MOMOFPEJqZ99xWIj5bzZ/AsIfU="
matrix:
  fast_finish: true
  allow_failures:
    - env: CLOUD=todo
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/gcloud/
before_install:
#setup google stuff
- if [ $TRAVIS_SECURE_ENV_VARS == true ]; then
    openssl aes-256-cbc -K $encrypted_29f3b7c4d8c3_key -iv $encrypted_29f3b7c4d8c3_iv  -in resources_for_CI/servicekey.json.enc -out servicekey.json -d;
    scripts/install_gcloud.sh;
    printf 'y\n' | $GCLOUD/gcloud components update app;
    $GCLOUD/gcloud config set project broad-dsde-dev;
    $GCLOUD/gcloud auth activate-service-account --key servicekey.json;
  fi
- R --version
# create links to newer gcc for gradle
- mkdir $HOME/bin
- ln -s /usr/bin/gcc-4.8 $HOME/bin/gcc
- ln -s /usr/bin/g++-4.8 $HOME/bin/g++
- export PATH=$HOME/bin:$PATH
- gcc --version
install:
- if [[ $TRAVIS_SECURE_ENV_VARS == false && $CLOUD == mandatory ]]; then
    echo "Can't run cloud tests without keys so don't bother building";
  else
    ./gradlew assemble;
  fi
script:
- if [[ $TRAVIS_SECURE_ENV_VARS == false && $CLOUD == mandatory ]]; then
    echo "Can't run cloud tests without keys so don't run tests";
  else
    bash scripts/install_git_lfs.sh;
    travis_wait 30 ./gradlew test;
  fi
after_success:
- if [[ $TRAVIS_SECURE_ENV_VARS == false && $CLOUD == mandatory ]]; then
    echo "Can't run cloud tests without keys so don't try to record coverage tests";
  else
   ./gradlew jacocoTestReport coveralls;
  fi
after_failure:
- dmesg | tail -100
after_script:
- if [ $TRAVIS_SECURE_ENV_VARS == true ]; then
    $GCLOUD/gcloud components -q update gsutil;
    REPORT_PATH=$TRAVIS_BRANCH_$TRAVIS_JOB_NUMBER;
    $GCLOUD/gsutil -m cp -z html -z js -z xml -z css -r build/reports/tests gs://hellbender/test/build_reports/$REPORT_PATH/;
    echo "See the test report at https://storage.googleapis.com/hellbender/test/build_reports/$REPORT_PATH/tests/index.html";
  fi
