language: java
sudo: required
dist: trusty
git:
  depth: 9999999
jdk:
- openjdk8
env:
  matrix:
  - TEST_TYPE=cloud
  - TEST_TYPE=integration TEST_VERBOSITY=minimal
  - TEST_TYPE=unit TEST_VERBOSITY=minimal
  - TEST_TYPE=integration TEST_DOCKER=true TEST_VERBOSITY=minimal
  - TEST_TYPE=unit TEST_DOCKER=true TEST_VERBOSITY=minimal
  - RUN_CNV_SOMATIC_WDL=true
  - RUN_M2_WDL=true
  - RUN_CNV_GERMLINE_WDL=true
  global:
  #for genomics db
  - LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/dependencies/libcsv/.libs
  #gradle needs this
  - TERM=dumb
  #limit gradle jvm memory and disable daemon
  - GRADLE_OPTS="-Xmx1024m -Dorg.gradle.daemon=false"
  #google cloud stuff
  - CLOUDSDK_CORE_DISABLE_PROMPTS=1
  - GCLOUD=$HOME/gcloud/google-cloud-sdk/bin
  - CLOUDSDK_PYTHON_SITEPACKAGES=1
  - GOOGLE_APPLICATION_CREDENTIALS=$TRAVIS_BUILD_DIR/servicekey.json
  #Path to GenomicsDB binaries
  - GATK_GENOMICSDB_BIN=src/test/resources/large/tiledb_bin
  #hellbender specific variables
  - HELLBENDER_TEST_INPUTS=gs://hellbender/test/resources/
  - HELLBENDER_TEST_STAGING=gs://hellbender/test/staging/
  - HELLBENDER_TEST_PROJECT=broad-dsde-dev
  - HELLBENDER_JSON_SERVICE_ACCOUNT_KEY=servicekey.json
  #google API key
  - secure: "eHyDxfcfv6pSIkoqQ9PimiYu9I6vmXJOpY/OkXLkc7ZAUfNTfRVytUGG9Xf/bKKF+Wscm5pIfZJ/TMDG6E3Uyngs9nVK/29QWevcEaLDJy8OdI9OgPZb13hlbM2jbVv5AVBGYcbcNBrTvrTs0MOMOFPEJqZ99xWIj5bzZ/AsIfU="
  #for uploading artifacts
  - ARTIFACTORY_USERNAME=gatkci
  #artifactory password
  - secure: "E0LWXgX3aWSE/DWHXXDx4vrAq4uX6vKg402wToaZ5otbHQ/UP0H7/FA5jomavAXoC46oMVHZcEltZ5OVhuJ0NW8yYxUCecJ1D/YvVQmnfFABcV/qLM+k4e2rYQOKVw/pejB2gG8XdTA+XE2WyTeENbmIkputS8f1ndKWCmZxuuk="
matrix:
  fast_finish: true
  include:
     - jdk: oraclejdk8
       env: TEST_TYPE=integration TEST_VERBOSITY=minimal
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/gcloud/
before_install:
#setup google stuff
- if [ $TRAVIS_SECURE_ENV_VARS == true ]; then
    openssl aes-256-cbc -K $encrypted_29f3b7c4d8c3_key -iv $encrypted_29f3b7c4d8c3_iv  -in resources_for_CI/servicekey.json.enc -out servicekey.json -d;
    scripts/install_gcloud.sh;
    printf 'y\n' | $GCLOUD/gcloud components update app;
    $GCLOUD/gcloud config set project broad-dsde-dev;
    $GCLOUD/gcloud auth activate-service-account --key-file servicekey.json;
  fi
#install R
- if [[ $TEST_DOCKER != true ]]; then
   sudo mkdir -p /usr/local/lib/R/;
   sudo mkdir -p site-library;
   sudo ln -sFv ~/site-library /usr/local/lib/R/site-library;
   sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9;
   sudo add-apt-repository "deb http://cran.rstudio.com/bin/linux/ubuntu trusty/";
   sudo apt-get update;
   sudo apt-get install -y --force-yes r-base-dev=3.1.3-1trusty;
   sudo apt-get install -y --force-yes r-base-core=3.1.3-1trusty;
   sudo Rscript scripts/docker/gatkbase/install_R_packages.R;
  fi
# Download Cromwell jar
- if [[ $RUN_CNV_SOMATIC_WDL == true || $RUN_M2_WDL == true || $RUN_CNV_GERMLINE_WDL == true ]]; then
    wget -O ~/cromwell-0.26.jar https://github.com/broadinstitute/cromwell/releases/download/26/cromwell-26.jar;
  fi
# Download Picard jar
- if [[ $RUN_M2_WDL == true ]]; then
    wget -O ~/picard.jar https://github.com/broadinstitute/picard/releases/download/2.9.0/picard.jar;
  fi
# Download git lfs files
- bash scripts/download_lfs_files.sh;
install:
- if [[ $TRAVIS_SECURE_ENV_VARS == false && $TEST_TYPE == cloud ]]; then
    echo "Can't run cloud tests without keys so don't bother building";
  elif [[ $TEST_DOCKER == true ]]; then
    echo "Skip the install because we're doing a docker build";
  else
    ./gradlew assemble;
    ./gradlew installDist;
    if [[ $RUN_CNV_SOMATIC_WDL == true || $RUN_M2_WDL == true || $RUN_CNV_GERMLINE_WDL == true ]]; then
      echo "building a shadow jar for the wdl";
      ./gradlew shadowJar;
    fi
  fi
script:
# run a basic sanity check to be sure that gatk-launch doesn't explode
# run tests
- if [[ $TRAVIS_SECURE_ENV_VARS == false && $TEST_TYPE == cloud ]]; then
    echo "Can't run cloud tests without keys so don't run tests";
  elif [[ $RUN_CNV_SOMATIC_WDL == true ]]; then
    echo "Running CNV somatic workflows";
    bash scripts/cnv_cromwell_tests/somatic/run_cnv_somatic_workflows.sh;
  elif [[ $RUN_CNV_GERMLINE_WDL == true ]]; then
    echo "Running CNV germline workflows";
    bash scripts/cnv_cromwell_tests/germline/run_cnv_germline_workflows.sh;
  elif [[ $RUN_M2_WDL == true ]]; then
    echo "Running M2 WDL";
    sudo bash scripts/m2_cromwell_tests/run_m2_wdl.sh;
  elif [[ $TEST_DOCKER == true ]]; then
    echo "Building docker image and running appropriate unit tests..." ;
    echo "${TRAVIS_BRANCH}" ;
    HASH=`git rev-parse ${TRAVIS_BRANCH}`;
    echo ${HASH};
    sudo bash build_docker.sh  -e ${HASH} -s -u -d $PWD/temp_staging/;
    sudo docker images;
    echo ${TEST_TYPE};
    sudo docker run -v $(pwd)/src/test/resources:/testdata --rm -e "TEST_VERBOSITY=minimal" -e "TEST_TYPE=${TEST_TYPE}" -t broadinstitute/gatk:${HASH} bash /root/run_unit_tests.sh;
  else
    ./gatk-launch PrintReads -I src/test/resources/NA12878.chr17_69k_70k.dictFix.bam -O output.bam;
    travis_wait 50 ./gradlew jacocoTestReport;
  fi

after_success:
- bash <(curl -s https://codecov.io/bash)
- if [[ $TRAVIS_BRANCH == master && $TEST_TYPE == integration ]]; then ./gradlew uploadArchives; fi
# if this is actually a commit to master and not a pull request build into master, then publish master-snapshot
- if [[ $TRAVIS_BRANCH == master && $TRAVIS_PULL_REQUEST == false && $TEST_TYPE == integration ]]; then
    git tag master;
    ./gradlew uploadArchives;
  fi

after_failure:
- dmesg | tail -100
after_script:
- if [ $TRAVIS_SECURE_ENV_VARS == true ]; then
    $GCLOUD/gcloud components -q update gsutil;
    REPORT_PATH=$TRAVIS_BRANCH_$TRAVIS_JOB_NUMBER;
    $GCLOUD/gsutil -m cp -z html -z js -z xml -z css -r build/reports/tests gs://hellbender/test/build_reports/$REPORT_PATH/;
    echo "See the test report at https://storage.googleapis.com/hellbender/test/build_reports/$REPORT_PATH/tests/test/index.html";
  fi
