<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.broadinstitute.hellbender.utils.logging">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%frenchRevDate %-5level %logger{1} - %msg%n"/>
    </Console>s
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
