
CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam filter=lfs diff=lfs merge=lfs -text
CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam.bai filter=lfs diff=lfs merge=lfs -text
dbsnp_138.b37.20.21.vcf filter=lfs diff=lfs merge=lfs -text
dbsnp_138.b37.20.21.vcf.idx filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.dict filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.fasta filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.fasta.fai filter=lfs diff=lfs merge=lfs -text
exampleLargeFile.txt filter=lfs diff=lfs merge=lfs -text
dbsnp_138.b37.1.1-65M.vcf filter=lfs diff=lfs merge=lfs -text
dbsnp_138.b37.1.1-65M.vcf.idx filter=lfs diff=lfs merge=lfs -text
