CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam filter=lfs diff=lfs merge=lfs -text
CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam.bai filter=lfs diff=lfs merge=lfs -text
dbsnp_138.b37.20.21.vcf filter=lfs diff=lfs merge=lfs -text
dbsnp_138.b37.20.21.vcf.idx filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.2bit filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.dict filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.fasta filter=lfs diff=lfs merge=lfs -text
human_g1k_v37.20.21.fasta.fai filter=lfs diff=lfs merge=lfs -text
1000G.phase3.broad.withGenotypes.chr20.10100000.vcf  filter=lfs diff=lfs merge=lfs -text
1000G.phase3.broad.withGenotypes.chr20.10100000.vcf.idx  filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/HCC1143-t2-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/HCC1143_BL-n1-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/SM-74NEG-v2-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/normal_2.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/tumor_2.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/SM-74NEG-v1-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/tumor_1.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/HCC1143_BL-n2-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/SM-74P4M-v2-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/normal_1.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/normal_3.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/tumor.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/HCC1143-t1-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/SM-74P4M-v1-chr20-downsampled.deduplicated.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/normal.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/normal_4.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/tumor_3.bam filter=lfs diff=lfs merge=lfs -text
mutect/dream_synthetic_bams/tumor_4.bam filter=lfs diff=lfs merge=lfs -text
cnv_somatic_workflows_test_files/human_g1k_v37.chr-20.truncated.fasta filter=lfs diff=lfs merge=lfs -text
Homo_sapiens_assembly38.20.21.fasta filter=lfs diff=lfs merge=lfs -text
gvcfs/combined.gatk3.7_30_ga4f720357.expected.vcf.gz filter=lfs diff=lfs merge=lfs -text
gvcfs/combined.gatk3.7_30_ga4f720357.g.vcf.gz filter=lfs diff=lfs merge=lfs -text
gvcfs/combined.gatk3.7_30_ga4f720357.g.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
gvcfs/gatk3.7_30_ga4f720357.24_sample.21.expected.vcf filter=lfs diff=lfs merge=lfs -text
gvcfs/gatk3.7_30_ga4f720357.24_sample.21.g.vcf.idx filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-all-targets.pon filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-control-target-coord-only.pcov filter=lfs diff=lfs merge=lfs -text
cnv/realistic-targets.tab filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-all-targets.pon.normal_projection filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-control-full.pcov filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-control-some-targets-full.pcov filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-control-target-name-only.pcov filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-some-targets.pon filter=lfs diff=lfs merge=lfs -text
cnv/create-pon-some-targets.pon.normal_projection filter=lfs diff=lfs merge=lfs -text
CalculateGenotypePosteriors/expectedCGP_testMissingPriors.vcf filter=lfs diff=lfs merge=lfs -text
CalculateGenotypePosteriors/expectedCGP_testUsingDiscoveredAF.vcf filter=lfs diff=lfs merge=lfs -text
gvcfs/CEUTrio.20.21.gatk3.4.g.vcf filter=lfs diff=lfs merge=lfs -text
gvcfs/CEUTrio.20.21.gatk3.4.g.vcf.idx filter=lfs diff=lfs merge=lfs -text
very-small-gnomad.vcf filter=lfs diff=lfs merge=lfs -text
gvcfs/gatk3.7_30_ga4f720357.24_sample.21.g.vcf filter=lfs diff=lfs merge=lfs -text
