contig_column = contig,Chromosome,chrom,chromosome,Chrom,CONTIG,seqname,seqnames,CHROM,target_contig,segment_contig
start_column = start,Start,Start_Position,start_position,chromStart,START,segment_start,Start_position,target_start,Position,position,pos,POS,segment_start
end_column = end,End,End_Position,end_position,chromEnd,END,segment_end,End_position,target_end,stop,Stop,Position,position,pos,POS,segment_end
xsv_delimiter = \t
name =