# This config file is to mimic the Oncotator gene list tsv for segment files.  This is a non-standard format.
#
# All alias files like this one should know that locatable data is ALWAYS produced.  The field names are found as
#  constants in LocatableFuncotationCreator.  As of this writing:  CONTIG, START, and END.
#  Note how these appear in the appropriate output columns below.
#
# The below makes heavy use of predetermined gencode funcotation fields.
#
# As of this writing, it is recommended that SimpleOutputTsv be configured to not write out columns that do not appear in this config file.
#
gene:
exon:
segment_contig:CONTIG,chr,contig,Chromosome,chrom,chromosome,Chrom,seqname,seqnames,CHROM,target_contig
segment_start:START,start,Start,Start_Position,start_position,chromStart,segment_start,Start_position,target_start,Position,position,pos,POS,segment_start
segment_start_gene:start_gene,Gencode_19_start_gene,Gencode_27_start_gene,Gencode_28_start_gene
segment_start_exon:start_exon,Gencode_19_start_exon,Gencode_27_start_exon,Gencode_28_start_exon
segment_end:END,end,End,End_Position,end_position,chromEnd,segment_end,End_position,target_end,stop,Stop,Position,position,pos,POS,segment_end
segment_end_gene:end_gene,Gencode_19_end_gene,Gencode_27_end_gene,Gencode_28_end_gene
segment_end_exon:end_exon,Gencode_19_end_exon,Gencode_27_end_exon,Gencode_28_end_exon
segment_num_probes:Num_Probes,NUM_POINTS_COPY_RATIO
segment_mean:Segment_Mean,MEAN_LOG2_COPY_RATIO
segment_call:Segment_Call
build:
sample:Sample,sample_id
