# This config file is to mimic the Oncotator simple tsv for segment files.  This is a non-standard format.
#
#  Ordering of the keys is how the columns will be ordered in the output.
#
# All alias files like this one should know that locatable data is ALWAYS produced.  The field names are found as
#  constants in LocatableFuncotationCreator.  As of this writing:  CONTIG, START, and END.
#  Note how these appear in the appropriate output columns below.
#

alt_allele:Gencode_19_alt_allele,Gencode_27_alt_allele,Gencode_28_alt_allele
end_gene:Gencode_19_end_gene,Gencode_27_end_gene,Gencode_28_end_gene
end:END,End,End_Position,end_position,chromEnd,segment_end,End_position,target_end,stop,Stop,Position,position,pos,POS,segment_end
start_gene:Gencode_19_start_gene,Gencode_27_start_gene,Gencode_28_start_gene
Segment_Mean:MEAN_LOG2_COPY_RATIO
genes:Gencode_19_genes,Gencode_27_genes,Gencode_28_genes
Sample:sample,sample_id
start:START,Start,Start_Position,start_position,chromStart,segment_start,Start_position,target_start,Position,position,pos,POS,segment_start
chr:CONTIG,contig,Chromosome,chrom,chromosome,Chrom,seqname,seqnames,CHROM,target_contig,segment_contig
build:
Num_Probes:NUM_POINTS_COPY_RATIO
start_exon:Gencode_19_start_exon,Gencode_27_start_exon,Gencode_28_start_exon
end_exon:Gencode_19_end_exon,Gencode_27_end_exon,Gencode_28_end_exon
ref_allele:Gencode_19_ref_allele,Gencode_27_ref_allele,Gencode_28_ref_allele
Segment_Call:
