numpy==1.18.5
protobuf==3.13.0
tensorflow==2.1.2
h5py==2.10.0
pydot==1.2.4
nibabel==2.5.0
pydicom==1.2.2
hyperopt==0.1.2
seaborn==0.9.0
scikit-image
biosppy
vtk==8.1.2
imageio==2.6.1
ipywidgets==7.5.1
bokeh
Pillow==8.1.1
notebook
pytest
tensorflow-addons==0.9.1
tensorflow_probability==0.9.0
numcodecs
beautifulsoup4
lxml
xmltodict
google-cloud-bigquery
google-cloud-bigquery-storage
pandas_gbq
pyarrow
altair
facets-overview
plotnine
vega
ipycanvas==0.7.0
ipyannotations==0.2.1
