h5py==2.10.0
pydot==1.2.4
nibabel==2.5.0
pydicom==1.2.2
hyperopt==0.1.2
seaborn==0.9.0
scikit-image
scikit-survival
biosppy
vtk==8.1.2
imageio==2.6.1
apache-beam[gcp]==2.12.0
google-cloud-storage==1.13.0
ipywidgets==7.5.1
bokeh
Pillow==7.0.0
notebook
pytest
tensorflow-addons==0.9.1
tensorflow_probability==0.9.0
numcodecs
beautifulsoup4
lxml
xmltodict
pandas_gbq
pyarrow
altair
facets-overview
plotnine
vega
ipycanvas==0.4.1
ipyannotations==0.2.0
