contig_column = CONTIG,contig,Chromosome,chrom,chromosome,Chrom,seqname,seqnames,CHROM,target_contig,segment_contig,chr
start_column = START,start,Start,Start_Position,start_position,chromStart,segment_start,Start_position,target_start,Position,position,pos,POS,segment_start
end_column = END,end,End,End_Position,end_position,chromEnd,segment_end,End_position,target_end,stop,Stop,Position,position,pos,POS,segment_end
xsv_delimiter = \t
name =
src_file = 
version = 
origin_location =
preprocessing_script =
