apache-beam==2.11.0
avro-python3==1.8.2
cachetools==3.1.0
certifi==2018.8.24
chardet==3.0.4
crcmod==1.7
dill==0.2.9
docopt==0.6.2
fastavro==0.21.21
fasteners==0.14.1
future==0.17.1
google-api-core==1.9.0
google-apitools==0.5.26
google-auth==1.6.3
google-cloud-bigquery==1.6.1
google-cloud-bigtable==0.31.1
google-cloud-core==0.28.1
google-cloud-pubsub==0.39.0
google-cloud-storage==1.13.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
grpc-google-iam-v1==0.11.4
grpcio==1.20.0
hdfs==2.5.0
httplib2==0.11.3
h5py==2.7.1
idna==2.8
mock==2.0.0
monotonic==1.5
numpy==1.16.3
oauth2client==3.0.0
pbr==5.1.3
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.7.1
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pydot==1.2.4
pyparsing==2.4.0
pytz==2019.1
PyYAML==3.13
requests==2.21.0
rsa==4.0
six==1.12.0
urllib3==1.24.2
